<h1>  Photogram </h1>


<% @posts.each do |post|%>
    <div class=" posts-wrapper row">
      <div class='post'>
        <div class='post-head'>
          <div class='name'>
            <span> Erick </span>

          </div>
        </div>

        <div class='image center-block'>
  <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %> 
</div> 
  <h2> <%= post.caption %> </h2>

</div> 
</div> 


  <% end %>