<footer class="footer">
  <small>
    This Application was developed
    by <a href="https://www.linkedin.com/in/erick-boyzo-258023a1">Erick Boyzo</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="https://www.facebook.com/erick.boyzo">News</a></li>
    </ul>
  </nav>
</footer>